@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*{
	font-family: 'Roboto Condensed', sans-serif; 
}


/* Fondos colores */
.bg-red{
	background-color: red;
	}

.bg-grey{
	background-color: grey;
	}

.bg-yellow{
	background-color: yellow;
	}

.bg-green{
	background-color: green;
	}

.bg-blue{
	background-color: blue;
	}

.bg-dark{
	background-color:#403E3E;
}
 
/*==============================GRIDS ===========================*/

/*Definimos que nuestro contenedor se muestre como GRID */
.grid{
	width:99%;
}

/*Definimos nuestro templates por filas y columnas -- 2 cols - 3 rows -- gap */
.grid-template-columns-row{
	
}

/*Definimos nuestro templates por áreas --- 3 cols - 3 rows - areas*/
.template-areas{
	
}
#botonera{
	
}
#centro{
	
}
#links-interes{
	
}
#pie{
	
}

/*Posición de los elementos */
.justify-items{
	
}
.align-items{
	
}

/*Posición del contenido */
.justify-content{
	/* definimos 3 cols de 300px -- height del contenedor en 500px*/
	
}
	.justify-content div{
		padding: 20px;
		text-align: center;
	}

.align-content{
	
}


/* definimos 3 cols de 200px -- height del contenedor en 500px*/
.column-row-start-end{
	
}

/* definimos inicio y fin de row y start de una celda*/
.column-row-start-end-item{
	
}