@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
/* selector universal */
*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos generales */
h1{
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
}
h2{
    font-size: 32px;
    text-align: center;
}
p{
    color: gray;
    font-size: 18px;
    line-height: 24px;
}
h1,h2,h3,a{
    color: deeppink;
}

/* Clases utilitarias */
.text-bold{
    font-weight: bold;
}
.text-italic{
    font-style: italic;
}
.text-orange{
    color: orange;
}
.bg-pattern{
    background-image: url(../img/backgrounds/bubble.png);
    background-repeat: repeat;
    background-attachment: fixed;
}
.bg-grey{
    background-color: rgba(128, 128, 128,.2);
}
.container{
    background-color: pink;
    width:90%;
    height: auto;
    margin: 50px auto ;
    padding: 50px 20px;
    border-bottom: deeppink 3px double;
}

/* Anuncio black friday */
.box-adds{
    background-color: white;
    padding: 8px 0;
    text-align: center;
}

/* Menu*/
.menu{
    background-color: rgba(230, 172, 182,0.8);
    padding: 8px 30px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    /* flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
    .menu img{
        width: 180px;
    }
    .menu ul{
        list-style: none;
         /* flexbox */
         display: flex;
    }
        .menu ul li{
           /* margin */
           margin-right: 20px;
        }
        .menu ul li a{
            text-decoration: none;
            color: deeppink;
            font-size: 20px;
        }
        /*hover*/

/* Encabezado */
header img{
    width: 100%;
}

/* Pie - footer  */
footer img{
    width:30px
}

/* productos destacados */
.productos-destacados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 50px;
}
    figure.productos{
        border: 1px solid grey;
        border-radius: 10px;
        width: 30%;
        margin-bottom: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    figure.productos img{
        width: 100%;
    }
    figure.productos figcaption{
        color: deeppink;
        font-size:1.4em;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    figure.productos a{
        background-color: deeppink;
        color: white;
        padding: 4px 30px;
        border-radius: 8px;
        text-align: center;
        text-decoration: none;
        /* display: block;
        margin: auto; */
    }
    figure.productos p{
        font-size: 1.1em;
        line-height: 1.4em;
        margin-bottom: 30px;
    }

/* TIENDA */

/* actions */
.store .actions{
    /* flex*/
}
.store .actions button{
    margin-left: 10px;
    background-color: deeppink;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 3px;
}
.store .actions input{
    padding: 6px;
    border-radius: 3px;
    border: none;
    background-color: rgb(243, 245, 245);
}

/* filters */
.store .filters{
    padding: 0 20px 30px 30px;
}
    .store .filters a{
        color: rgb(134, 130, 132);
        font-size: 1.3em;
        text-decoration: none;
        margin-bottom: 4px;
        text-transform: lowercase;
    }
        .store .filters a:hover{
            color:deeppink;
        }
    .store .filters span{
        display: block;
        color: rgb(0, 0, 0);
        margin: 10px 0;
        letter-spacing: 1px;
    }
    .store .filters select{
        color: deeppink;
        border: none;
        background-color: white;
        margin-bottom: 10px;
        font-size: 1.4em;
    }
    .store .filters li{
        padding-left: 10px;
        list-style: none;
    }

/* tienda GRID*/

.store{
    /* 
    - creamos nuestro grid de 3 cols 20% - 1fr - 1fr y 4 rows 80px - 3 x 300px 
    - difinimos las areas
    - setteamos el gap en 5px
    */
    
}
    .store .actions{
        padding: 0 30px;
        /*definimos el nombre en el grid */
      
    }
    .store .filters{
         /*definimos el nombre en el grid */
      
    }
    .store .prod1{
        /*
        - definimos el nombre en el grid
        - usamos flex para acomodar 
        */
       
    }
    .store .prod1 p{
        
    }
    .store .prod2{
        /*
        - definimos el nombre en el grid
        - usamos flex para acomodar 
        */
        
    }
    .store .prod3{
        /*
        - definimos el nombre en el grid
        - usamos flex para acomodar 
        */
        
    }
    .store .prod4{
        /*
        - definimos el nombre en el grid
        - usamos flex para acomodar 
        */
        
    }
    .store section{
        border-radius: 10px;
    }