@import url('https://fonts.googleapis.com/css2? family= Dhurjati & display=swap');
/* 1- selector de etiqueta */
h1{
    color:red
}
p{
    color:black
}
h1 h2 h3 h4 p{
    font-family: 'Dhurjati', sans-serif;
}
/*selectores descendentes*/
nav ul li a{
    color:aqua
}
.menu{
    background-color: pink;
}
.menu ul{
    list-style: none;
}
    menu ul li a{
        text-decoration: none;
        color: aqua;
        font-size: 24px;
    }
/* 2- selector de clase */

.text-bold{
    font-weight: bold;
}
.text-italic{
    font-style: italic;
}
.text-orange{
    color:orange
}
.bg-pattern{
    background-image: none ;
}
/* 3- selector de ID */

#id {
    /* propiedades y valor*/
}