@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
/* selector universal */
*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

/* Estilos generales */
h1{
    font-size: 45px;
    text-align: center;
}
h2{
    font-size: 32px;
    text-align: center;
}
p{
    color: gray;
    font-size: 18px;
    line-height: 24px;
}
h1,h2,h3,a{
    color: deeppink;
}

/* Clases utilitarias */
.text-bold{
    font-weight: bold;
}
.text-italic{
    font-style: italic;
}
.text-orange{
    color: orange;
}
.bg-pattern{
    background-image: url(../img/backgrounds/bubble.png);
    background-repeat: repeat;
    background-attachment: fixed;
}
.container{
    background-color: pink;
    width:90%;
    height: auto;
    margin: 50px auto ;
    padding: 50px 20px;
    border-bottom: deeppink 3px double;
}

/* Anuncio black friday */
.box-adds{
    background-color: white;
    padding: 8px 0;
    text-align: center;
}

/* Menu*/
.menu{
    background-color: rgba(230, 172, 182,0.8);
    padding: 8px 20px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    /* flexbox */
}
    .menu img{
        width: 180px;
    }
    .menu ul{
        list-style: none;
         /* flexbox */
    }
        .menu ul li{
           /* margin */
        }
        .menu ul li a{
            text-decoration: none;
            color: deeppink;
            font-size: 20px;
        }
        /*hover*/

/* Encabezado */
header img{
    width: 100%;
}

/* Pie - footer  */
footer img{
    width:30px
}